.flexbox
{
    display:flex;
    align-items: center;
    gap: 5px;
    /* border: solid 5px black ; */
}
.insta-img
{
    width: 50%;
    /* border: solid 5px black ; */
}
.nav
{
    width: 250px;
    padding: 10px;
    margin: 15px;
    position:fixed;
    top: 0;
    left: 0;
    /* border: solid 5px black ; */
}
.main
{
    box-sizing: border-box;
    width: 40%;
    /* border: solid 2px black ; */
    margin: 15px 15px;
    padding: 10px;
}
.card
{
    /* box-sizing: border-box; */
    width: 500px;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    border-radius: 8px;
    border: solid 2px rgb(237, 223, 223) ;
}
.imgandlikes
{
    position: relative;
}
.card-img
{ 
    box-sizing: border-box;
    border-radius: 20px;
    width: 100%;
    /* border: solid 5px black ; */
}
.likes
{
    position:absolute;
    bottom:10px;
    left:10px;
    background-color: white;
    margin: 3px;
    padding: 8px 10px;
    border: solid 2px rgb(214, 25, 154);
    display: inline;
    border-radius: 25px;
}
.profile-img
{
    border-radius: 50%;
    width: 45px;
    margin: 3px;
    padding: 2px;
    /* border: solid 5px black ; */
}
.together
{
    margin: 5px;
    /* border: solid 5px black ; */
}
.name
{
    font-size: 20px;
    font-weight: 500;
    margin: 0%;
    /* border: solid 5px black ; */
}
.username
{
    font-size: 15px;
    font-weight: 200px;
    color: rgb(74, 69, 69);
    margin: 0%;
    /* border: solid 5px black ; */
}
.prof{
    display: flex;
    margin: 10px;
    /* justify-content: center; */
    /* border: solid 5px black ; */
}
.icons
{
    display: flex;
    gap: 20px;
    margin: 10px;
    /* border: solid 5px black ; */
}
.collection-icons
{
    /* margin: 3px; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    /* border: solid 5px black ; */
}
.bookmark
{
    margin: 10px;
    /* border: solid 5px black ; */
}
.content
{
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    /* border: solid 5px black ; */
}
.sumup
{
    display: flex;
    flex-wrap: wrap;
    /* border: solid 5px black ; */
    padding: 10px;
    justify-content:right;
    border: solid 2px rgb(237, 223, 223) ;
}
.home
{
    font-size: 20px;
    cursor: pointer;
}
.story{
    width: 500px;
    display: flex;
    gap: 18px;
    /* justify-content: center; */
    /* border: solid 2px black; */
    margin: 15px;
    padding: 5px;
    overflow-x: scroll;
}
.story-img
{
    border-radius: 50%;
    width: 100px;
    height: 80px;
    cursor: pointer;
    padding: 2px;
    border:solid 2px rgb(216, 31, 127);
}
::-webkit-scrollbar {
    display: none;
  }
.story-img:hover
{
    border: solid 2px rgb(234, 10, 55);
}
.home:hover{
    text-decoration: underline;
}
.chat
{
    /* border: solid 2px black; */
    width: 30%;
    box-sizing: border-box;
    margin: 15px 15px;
    padding: 10px;
    align-self: flex-start;
    position: sticky;
    height: auto;
    top:0;
}
.chat-img
{
    width: 40px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
    padding: 3px;
    border:solid 1px rgb(221, 216, 216);
}
.request
{
    display: flex;
    margin: 10px;
}
.itemsmargin
{
    margin-bottom: 4px;
}
.box 
{
    display: flex;
    margin-right: 60px;
    border:solid 1px white;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 6px;
}
.follow
{
    padding: 10px 20px;
    margin: 25px 15px;
    border-radius: 20px;
    background-color: white;
    color: rgb(22, 169, 218);
    cursor: pointer;
    font-weight: bold;
    border:solid 1px rgb(221, 216, 216);
}
.follow:hover{
    color: darkblue;
}
.box:hover{
    border:solid 1px rgb(221, 216, 216);
}
.h2
{
    color:rgba(12, 10, 10, 0.587) ;
    margin: 20px 30px;
    font-size: 25px;
}